@charset "utf-8";

:root {
    background-color: #020617;
    color-scheme: dark light;
}

body{
    font-family: "Onest", sans-serif;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020617;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar h1 {
    font-size: 1.30rem;
    cursor: pointer;
}

.highlight {
    color: #67bee6;
}

.highlight:hover {
    color: #fff;
    transition-duration: 900ms;
}   

.navbar a {
    text-decoration: none;
    color: #ffffffde;
}

.navbar a:hover {
    color: #67bee6;
    transition-duration: 700ms;
}

.ls-navegacion {
    display: flex;
    list-style: none;
    gap: 3.3rem;
}

.link-nav {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.section-contenido{
    text-align: center;
    max-width: 80%;
    margin: auto;
    background-color: #000310;
    min-height: 500px;
    border-radius: 25px;
    margin-top: 5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffffe2;
}

.gallery_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2.2rem;
}

.gallery_section h2 {
    margin: 0;
    font-size: 2rem;
    color: #8bd7fa;
}

.section-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.section-img img{
    border-radius: 99px;
    background-color: #67bee6;
}

.img-profile{
    height: 13rem;
    width: 13rem;
}

.article-1{
    font-size: 1.4rem;
    font-weight: 500;
}

.header-title {
    margin: 20px 0;
    font-size: 3.75rem;
    line-height: 1rem
}

.name-highlight {
    color: #67bee6;
}

.article-5{
    font-size: 1.3rem;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: #67bee6;
}

.description1 {
    font-family: "Menlo", monospace;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2.6rem;
}

.description2 {
    font-size: 1.3rem;
}

.form-contacto{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.contact_p {
    margin: 0;
    font-size: 1.7rem;
    color: #8bd7fa;
}

label {
    color: #fff;
}

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.form-contacto input{
    margin-bottom: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid #7ac4e6;
}

.form-contacto input, textarea {
    background-color: #020617;
    color: #fff;
    font-family: 'Onest', sans-serif;
    font-size: 1rem;
}

.form-contacto textarea{
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    height: 100px;
    border: 2px solid #7ac4e6;
    margin-top: 5px;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #7ac4e6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

th {
    text-transform: uppercase;
    color: #7ac4e6;
}

tr:hover {
    background-color: #0d122b;
    color: #67bee6;
}

.titulo-tabla:hover {
    background-color: #050b28;
}

.titulo-tabla {
    background-color: #050b28;
}

.galeria {
    display: flex;
    width: 75%;
    height: 420px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    filter: brightness(120%);
}

.pasatiempos_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 40px;
    margin-top: 20px;
    list-style: none; 
}

.pasatiempos_list li::before {
    content: "•";
    color: #67bee6; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

#titulo-tabla{
    color: #4299E1;
    font-weight: bold;
}

.study_title1 {
    margin: 0 0 2.5rem 0;
}

.study_title1, .study_title2 {
    font-size: 2rem;
    color: #8bd7fa;
}

.study_title2 {
    margin: 2.5rem 0 2.5rem 0;
}

#article-3{
    padding: 30px;
    font-size: 20px;
}

#article-4{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    opacity: 0.8;
    color: #67bee6;
}

#li-projects{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #4299E1;
}

.footer-redes{
    background-color: #01030d;
    color: #7ac4e6;
    margin-top: 40px;
    border: 30px;
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-send {
    margin: 10px 0 0px 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    background: #7ac4e6;
    color: #000310;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.btn-send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.btn-send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-send:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-send:hover span {
    transform: translateX(5em);
}

.btn-send:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.card {
    margin-top: 2rem;
    position: relative;
    width: 580px;
    height: 320px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #7ac4e6;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 35rem;
    height: 19rem;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(131, 243, 255, 0.448);
}

.card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #7ac4e6;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 3rem;
    color: #020617;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: #01030d;
    line-height: 1.4;
}

.Btn {
    margin-top: 1.1rem;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: #020617;
    overflow: hidden;
}

.svgIcon, .svgIcon2 {
    transition-duration: .3s;
    transform: scale(1.3);
}

.svgIcon path {
    fill: white;
}

.svgIcon2 path {
    fill: none;
}

.text {
    position: absolute;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}

.btn-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.3rem;
}

.Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
}

.Btn:hover .svgIcon, .Btn:hover .svgIcon2 {
    opacity: 0;
    transition-duration: .3s;
}